![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]
mi_lista_ordenada = sorted(ejer_1, reverse=True)
print(mi_lista_ordenada)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [2]:
ejer_2 = [1,2,3,4,5]

# Lista para almacenar los resultados
potencias = []

# Bucle for para elevar cada número al cuadrado
for numero in ejer_2:
    potencias.append(numero ** 2)

print(potencias)

[1, 4, 9, 16, 25]

In [1]:
ejer_2
[i**2 for i in ejer_2]

NameError: name 'ejer_2' is not defined

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [5]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
# Generamos las combinaciones
combinaciones = []
for elemento1 in ejer_3_1:
    for elemento2 in ejer_3_2:
        combinaciones.append((elemento1, elemento2))

# Imprimimos las combinaciones
print(combinaciones)

[('Hola', 'Que'), ('Hola', 'tal'), ('amigo', 'Que'), ('amigo', 'tal')]

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [2]:
valor = 45
numero = 0
ejer_4 = [20,47,19,29,45,67,78,90]
#buscar index del n umero 45
indice = ejer_4.index(valor)
#sustituir valor del index por 0
ejer_4 [indice]=numero
print(f"la nueva lista {ejer_4 }")

la nueva lista [20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [3]:
numero = 3
ejer_5 = [3,20,3,47,19,3,29,45,67,78,90,3,3]
ejer_5copia = ejer_5
valor_a_eliminar = 3

while valor_a_eliminar in ejer_5:
    ejer_5.remove(valor_a_eliminar)

print(ejer_5)
print(ejer_5copia)

[20, 47, 19, 29, 45, 67, 78, 90]
[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [ ]:
ejer_6_1 = (1,2,3)
ejer_6_2 = (4,)
ejer_6_3 = ("a",1.5,True)
print(type(ejer_6_2))
print(type(ejer_6_3))

In [ ]:
ejer_6_1 = (1,2,3)

In [12]:
ejer_6_2 = (4,)
type(ejer_6_2)

tuple

In [ ]:
ejer_6_3 = ("a",1.5,True)

In [18]:
ejer_6_3 = ("a",1.5,True)
print(ejer_6_3[0],ejer_6_3[-1])

a True

In [21]:
nueva_tupla = ejer_6_3+ (2,)
print(nueva_tupla)

('a', 1.5, True, 2)

In [23]:
nueva_tupla= ejer_6_3[:1]+ejer_6_3[2:]
print(nueva_tupla)

('a', True)

In [24]:
nueva_lista = list(nueva_tupla)
print(nueva_lista)

['a', True]

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [27]:
# Tupla de ejemplo
ejer_7 = ('cien', 'cañones',"por", 'banda')

# Convertir todos los elementos a string y concatenarlos
resultado = " ".join([str(elemento) for elemento in ejer_7])

print(resultado)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [29]:
elemento = 2
element = -3
ejer_8 = [3,20,3,47,19,3,29,45,67,78,90,3,3]
numero_1 = ejer_8[elemento]
numero_2 = ejer_8[element]
print (numero_1, numero_2)

3 90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [30]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
vez=0
for i in ejer_9:
    if i ==3:
        vez +=1
print(vez)

7

In [5]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
nueva_tupla = ejer_9[4:10]
print(nueva_tupla)

(19, 3, 29, 45, 67, 78)

In [7]:
ejer_9.count(3)

7

In [38]:
longitud = len(ejer_9)
print(longitud)

26

In [45]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
for i in ejer_9:
    if i == 60:
        print(f"{i} esta en la tupla")
    else:
        print("60 no esta en la tupla")

60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla
60 no esta en la tupla

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [46]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
nueva_lista = list(ejer_9)
print(nueva_lista)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]

In [52]:
tupla = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
# Tupla con un número impar de elementos

# Agrupar los elementos en pares clave-valor
pares = [(tupla[i], tupla[i + 1]) for i in range(0, len(tupla), 2)]

# Convertir la lista de pares en un diccionario
diccionario = dict(pares)

print(diccionario)

{3: 4, 19: 3, 29: 45, 67: 78, 90: 3, 2: 4, 7: 9, 4: 3, 6: 7}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [53]:
# Lista de tuplas
lista_de_tuplas = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

# Convertir a diccionario
diccionario = dict(lista_de_tuplas)

print(diccionario)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [ ]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}
items = sorted(list(ejer_12.keys()))
print(items)

[2, 4, 5, 8]

In [ ]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}
items = sorted(list(ejer_12.keys()),reverse=True)
print(items)

[8, 5, 4, 2]

In [5]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}
ejer_12['8'] = '34'
print(ejer_12)

{4: 78, 2: 98, 8: 234, 5: 29, '8': '34'}

In [12]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}
try:
    valor = ejer_12['2']
    print(f"La clave '2' está en el diccionario y su valor es {valor}.")
except KeyError:
    print("La clave '2' no está en el diccionario.")

La clave '2' no está en el diccionario.

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [14]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

ejer_13_1.update(ejer_13_2)
print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [16]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
suma = sum(ejer_14.values())
print(suma)

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [8]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

# Inicializar el resultado de la multiplicación
resultado = 1

# Multiplicar todos los valores del diccionario
for valor in ejer_15.values():
    resultado = resultado * valor

print("El resultado de la multiplicación de todos los valores es:", resultado)

El resultado de la multiplicación de todos los valores es: 19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [ ]:
mi_set = {1, 2, 3}

In [18]:
mi_set = {1, 2, 3}
mi_set.add(4)
print(mi_set)

{1, 2, 3, 4}

In [ ]:
mi_set = {1, 2, 3}
# Usar discard() para evitar errores si el elemento no existe
mi_set.discard(10)  # No hace nada porque 10 no está en el set
print(mi_set)

{1, 2, 3}