# Ex - GroupBy

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 3. Assign it to a variable called drinks.

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [5]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [6]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [7]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

### Step 4. Which continent drinks more beer on average?

In [8]:
# Group by continent and calculate the mean beer consumption
average_beer_consumption = drinks.groupby('continent')['beer_servings'].mean()

# Find the continent with the highest average consumption
max_beer_continent = average_beer_consumption.idxmax()
max_beer_value = average_beer_consumption.max()

# Display the results
print("Average beer consumption per continent:")
print(average_beer_consumption)
print(f"\nContinent that drinks the most beer on average: {max_beer_continent} ({max_beer_value})")

Average beer consumption per continent:
continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

Continent that drinks the most beer on average: EU (193.77777777777777)

### Step 5. For each continent print the statistics for wine consumption.

In [9]:
# Group by continent and calculate statistics for wine consumption
wine_statistics = drinks.groupby('continent')[['wine_servings',"spirit_servings","wine_servings"]].describe()

# Display the statistics
print("Statistics for wine consumption by continent:")
print(wine_statistics)

Statistics for wine consumption by continent:
          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50

                 spirit_servings              ...                 \
             max           count        mean  ...     75%    max
continent                                     ...
AF         233.0            53.0   16.339623  ...   19.00  152.0
AS         123.0            44.0   60.840909  ...   98.00  326.0
EU         370.0            45.0  132.555556  ...  173.00  373.0
OC         212.0            16.0   58.437500  ...   65.25  254.0
SA         221.0            12.0  114.750000  ...  148.75  302.0

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

[5 rows x 24 columns]

### Step 6. Print the mean alcohol consumption per continent for every column

In [10]:
# Group by continent and calculate the mean for each column
mean_consumption = drinks.groupby('continent')[['wine_servings',"spirit_servings","wine_servings"]].mean()

# Display the result
print("Mean alcohol consumption per continent for each column:")
print(mean_consumption)

Mean alcohol consumption per continent for each column:
           wine_servings  spirit_servings  wine_servings
continent
AF             16.264151        16.339623      16.264151
AS              9.068182        60.840909       9.068182
EU            142.222222       132.555556     142.222222
OC             35.625000        58.437500      35.625000
SA             62.416667       114.750000      62.416667

### Step 7. Print the median alcohol consumption per continent for every column

In [11]:
# Group by continent and calculate the median for each column
median_consumption = drinks.groupby('continent')[['wine_servings',"spirit_servings","wine_servings"]].median()

# Access the results using iloc
median_with_iloc = median_consumption.iloc[:, :]  # Selecting all rows and all columns
print("Median alcohol consumption per continent using iloc:")
print(median_with_iloc)

Median alcohol consumption per continent using iloc:
           wine_servings  spirit_servings  wine_servings
continent
AF                   2.0              3.0            2.0
AS                   1.0             16.0            1.0
EU                 128.0            122.0          128.0
OC                   8.5             37.0            8.5
SA                  12.0            108.5           12.0

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [12]:
# Group by continent and calculate mean, min, and max for "Spirits Servings"
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max']).round(1)

# Display the result
print("Mean, Min, and Max values for Spirits Consumption per continent:")
print(spirit_stats)

Mean, Min, and Max values for Spirits Consumption per continent:
            mean  min  max
continent
AF          16.3    0  152
AS          60.8    0  326
EU         132.6    0  373
OC          58.4    0  254
SA         114.8   25  302

In [15]:
drinks.loc[(drinks["continent"]=="EU") & ("spirit_servings"]==0)]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3397373577.py, line 1)